{% extends 'base.html' %} 
{% block content %}
<form action="" method="post">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>please insert your registered email</p>
        {{ form.csrf_token }}

        <div class="control-group">
         <div class="form-group controls">
           {{form.email.label}}
           {{form.email(size=50)}} 
           
     {% for error in form.email.errors %}
         <li class="help-block text-danger">{{ error }}</li>
     {% endfor %}
         </div>
       </div>

       <div id="success">
        <button type="submit" class="btn btn-primary" id="sendMessageButton">Submit</button>
      </div>
 

      </div>
    </div>
  </div>
</form>
{% endblock content %}
