<div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
<!-- {% if messages %}
          <ul class="messages">
              {% for message in messages %}
              <div class="col-lg-8 col-md-10 mx-auto">
              <p{% if message.tags %} class="alert alert-sucess"{% endif %}>{{ message }}</p>
              </div>
              {% endfor %}
          </ul>
          {% endif %} -->


<p>Thanks for signing up. Please confirm your email to login:</p>
<br>
<a href="btn btn-primary">Login</a>
<p>Cheers!</p>
</div>
</div>
</div>